<!DOCTYPE html>
<html>
  <head>
  <title>skeleton website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block head %}{% endblock %} 
  </head>
  <body class="w3-light-grey">
    
    <!-- Navigation bar with social media icons -->
    <nav class="w3-bar w3-black">
      <a href="{{ url_for('index') }}" class="w3-bar-item w3-button">
        <i class="fa-sharp fa-solid fa-house"></i></a>
      <a href="{{ url_for('calendar_page') }}" class="w3-bar-item w3-button">
        <i class="fa fa-calendar"></i></a>
      <a href="{{ url_for('notes_page') }}" class="w3-bar-item w3-button">
        <i class="fa-sharp fa-solid fa-list"></i></a>
      <a href="{{ url_for('reminders_page') }}" class="w3-bar-item w3-button">
        <i class="fa-regular fa-bell"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    </nav>
    <div class="w3-content" style="max-width:1600px">
      <main class="w3-container w3-center w3-padding-48 w3-white">
        
        {% block content %}{% endblock %} 
        
      </main>
    </div>
  </body>
</html>
