{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset= "UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0"
<link rel="stylesheet" href="style.css"
</head>
<body>
  <div class="comment-box">
  <h2> Notes</h2>
    <form action="#">
      <input type="text" name="full_name" placeholders="note page"
      <input type="email" name="email" placeholders="email adress..."
      <textarea name="comment" placeholders="type your notes..."></textarea>
      <button type="submit"> submit comment</button>
      </form>
  </div>
</body>
</html>
{% endblock %}